[Unit]
Description=CBV telnet server
Requires=cbv.socket
After=network.target

[Service]
Environment="PYTHONPATH=."

AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/twistd \
    --nodaemon \
    --pidfile= \
    --python=cbv.tac

WorkingDirectory=/home/admin/cbv

User=admin
Group=admin

Restart=always



[Install]
WantedBy=multi-user.target